$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$gap: 1px;
$month-length: 31;
$siz-cell: 100px;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  padding: 10px;
  width: 7 * $siz-cell + 6 * $gap;

  @each $name-day, $index-day in $days {
    &--start-day-#{$name-day} {
      .calendar__day:first-child {
        margin-left: $index-day * ($siz-cell + $gap);
      }
    }
  }

  @for $i from 1 through 31 {
    &--month-length-#{$i}:nth-child(#{$i + 1}) {
      display: none;
    }
  }

  &__day {
    background-color: #eee;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    height: $siz-cell;
    justify-content: center;
    align-items: center;
    width: $siz-cell;

    @for $date from 1 through 31 {
      &:nth-child(#{$date})::before {
        content: '#{$date}';
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transition: 0.5s;
      transform: translateY(-20px);
    }
  }
}
