$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$between-cells: 1px;
$month-length: 28;
$siz-cell: 100px;
$start-day: 'sat';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  padding: 10px;
  width: 7 * $siz-cell + 6 * $between-cells;

  &__day {
    background-color: #eee;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    height: $siz-cell;
    justify-content: center;
    align-items: center;
    width: $siz-cell;

    @each $start-day, $index-day in $days {
      &--start-day {
        margin-left: $index-day * ($siz-cell + $between-cells);
      }
    }

    @for $date from 1 through 31 {
      &:nth-child(#{$date})::before {
        content: '#{$date}';
      }
    }

    @for $i from $month-length through 31 {
      &:nth-child(#{$i + 1}) {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translate(0, -20px);
      transition: transform 0.5s linear 0;
    }
  }
}
